//=======================================================
// CHART
//=======================================================
.chart-container {
  float: left;
  margin: 2rem;
  width: $chart-width;
  height: $chart-height;
  position: relative;
  top: 1rem;
}

.chart-inner {
  width: $chart-width - $axis-height - $chart-inner-margin * 2;
  height: $chart-height - $axis-height - $chart-inner-margin * 2;
  position: absolute;
  top: $chart-inner-margin;
  left: $axis-height + $chart-inner-margin;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 100.5%;
    top: - $chart-inner-margin;
    bottom: - $chart-inner-margin;
    background-size: 33.3%;
    background-image: linear-gradient( 90deg, rgba( $ink, 0.5 ) 1px, transparent 1px );
  }

  &::after {
    height: 100%;
    left: - $chart-inner-margin;
    right: - $chart-inner-margin;
    background-size: 33.3333%;
    background-image: linear-gradient( rgba( $ink, 0.5 ) 1px, transparent 1px );
  }
}

.dot {
  background-color: $ink;
  box-shadow: inset 0 0 0 3px $ink, inset 0 0 0 8px $paper;
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  transition: all 0.1s ease-in-out;
  transform: translate( -( $dot-size / 2 ), -( $dot-size / 2 ) );
}

.y-pos-1 {
  top: 0;
}

.y-pos-2 {
  top: 33.3336%;
}

.y-pos-3 {
  top: 66.6666%;
}

.y-pos-4 {
  top: 100%;
}

.x-pos-1 {
  left: 0;
}

.x-pos-2 {
  left: 33.333%;
}

.x-pos-3 {
  left: 66.666%;
}

.x-pos-4 {
  left: 100%;
}