//=======================================================
// SITE HEADER
//=======================================================
.site-header {
  @include clearfix;

  padding: 0 1rem;
  border-bottom: 2px solid $primary;
}

.site-title,
.site-subtitle {
  float: left;
  line-height: 3rem;
  margin: 1rem 0;
}

.site-title {

}

.site-subtitle {
  font-weight: 100;
  margin-left: 0.5rem;
}

.tesco-logo {
  float: right;
  height: 2.6rem;
  margin: 1.1rem 0;
}