//=======================================================
// RECIPE
//=======================================================
.recipe-container {
  float: left;
  margin-left: 30px;
  width: 360px;
}

.recipe-name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.ingredients-list {

}

.ingredient {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;

  &::before {
    content: "\25cf";
    font-size: 0.6rem;
    position: relative;
    top: -3px;
  }
}

.ingredient-quantity {
  font-weight: 500;
  color: $primary;
}

.ingredient-type {
  font-weight: 500;
  border-bottom: 2px solid $primary;
  color: $primary;
}

.gram::after {
  content: "g";
}

.ml::after {
  content: "ml";
}

.output-container {
  @include clearfix;
  margin-top: 1.5rem;

  div {
    float: left;
    width: 80px;
    text-align: center;
  }

  span {
    display: block;
    color: $primary;
    font-size: 0.8rem;
  }

  img {
    opacity: 0.5;
    border-radius: 6px;
    width: 40px;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}