//=======================================================
// SLIDERS
//=======================================================
.axis-slider {
  -webkit-appearance: none;
  background-color: mix( $primary, $paper, 75 );
  height: 4px;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  z-index: 999;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    position: relative;
    background: transparent;
    border: 0;

    &::before {
      content: "";
      position: absolute;
      background-color: mix( $primary, $paper );
      width: 40px;
      height: 40px;
      top: 15px;
      left: 15px;
      border-radius: 50%;
      border: 4px solid $primary;
    }
  }
}

.x-axis-slider {
  width: $chart-width - $axis-height;
  // margin-left: $slider-margin;
  margin-top: 70px;
}

.y-axis-slider {
  margin-top: 62px;
  width: $chart-height - $axis-height;
  // margin-left: $slider-margin;
}